<div data-spy="affix" data-offset-top="0">
	<ul class="nav nav-pills nav-stacked">
	  <li><a href="#start">Get Started</a></li>
	  <li><a href="#auth">Authentication</a></li>
	  <!-- <li><a href="#errors">Errors</a></li> -->
	  <li><a href="#order">Orders</a></li>
	  <li><a href="#order-item">Order Item</a></li>
	  <li><a href="#product">Products</a></li>
	  <li><a href="#variant">Variants</a></li>
	  <li><a href="#customer">Customers</a></li>
	  <li><a href="#address">Addresses</a></li>
	</ul>
</div>